@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@theme {
    --color-primary: #ec4899;
    --color-primary-dark: #db2777;
    --color-secondary: #f472b6;
    --color-accent: #f9a8d4;
    --font-sans: 'Poppins', sans-serif;
}



/* Base styles */
@layer base {
  html {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply bg-pink-50 text-gray-900;
  }

  h1 {
    @apply text-3xl font-bold text-center mb-6 text-pink-500;
  }
  .input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-pink-500;
  }
  .label {
    @apply block text-gray-700 text-sm font-bold mb-2;
  }
}
